<!--  Carousel/Slider -->
<% if @farm.photos.empty? %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="placeholder carousel-inner">
    <%= image_tag 'placeholder.png', class: 'img-responsive' %>
  </div>
</div>

<% else %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @farm.photos.each_with_index do |photo, index| %>
    <% if index == 0 %>
    <div class="item active">
      <% else %>
      <div class="item">
        <% end %>
        <!-- use line below for cloudinary transformation -->
        <%= cl_image_tag(photo.picture.url(:standard)) %>
        <!-- use line below for carousel/slider transformation -->
        <!-- <%= image_tag photo.picture, class: 'img-responsive' %> -->
      </div>
      <% end %>
    </div>

    <!-- Controls for slides -->
    <% @farm.photos.each_with_index do |photo, index| %>
    <% if index > 1 %>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <% end %>
    <% end %>
    <% end %>
  </div>

  <br />

  <div class="row">
    <div class="col-sm-10 pull-right">
      <% if current_user && current_user == @farm.user %>

      <!-- Photo Button trigger modal -->
      <div class="btn-edit-details text-right">
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myPhoto">
          Upload Images
        </button>

        <!-- Edit Farm button -->
        <%= link_to 'Edit Details', edit_farm_path(@farm), class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Farm Description -->
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <br />
      <h3><%= @farm.name %></h3>
      <p />
      <%= @farm.address %>
      <p />
      <br />
      <%= @farm.description %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h4>Amenities</h4>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h5>List all amenities here</h5>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h4>Special Events</h4>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <h5>List of seasonal events here</h5>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      <h5>Calender here</h5>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <hr>
    </div>
  </div>

  <br />


  <!-- Photo Modal -->
  <div class="modal fade" id="myPhoto" tabindex="-1" role="dialog" aria-labelledby="myPhotoLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myPhotoLabel">Add Farm Photos</h4>
        </div>

        <div class="modal-body">
          <%= simple_form_for @photo, url: farm_photos_path(@farm) do |f| %>
          <%= f.input :picture, label: false %>
          <!-- <%= f.input :caption %> -->
        </div>

        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button> -->
          <%= f.submit "Upload", class: 'btn btn-sm btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Comment Modal -->
  <div class="modal fade" id="myComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myCommentLabel">Leave a Review</h4>
        </div>

        <div class="modal-body">
          <%= simple_form_for [@farm, @comment] do |f| %>
          <%= f.input :message, label: Comment %>
        </div>

        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button> -->
          <%= f.submit "Add", class: 'btn btn-sm btn-success' %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <!-- Google Maps Terrain -->
  <% if @farm.latitude.present? && @farm.longitude.present? %>
  <style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  </style>

  <script>
  function initMap() {
    var myLatLng = {lat: <%= @farm.latitude %>, lng: <%= @farm.longitude %>};

    var map = new google.maps.Map(document.getElementById('map'), {
      scrollwheel: false,
      zoom: 12,
      center: myLatLng,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

  <div id="map"></div>
  <% end %>

  <br />
  <br />

  <% if @farm.comments.present? %>
  <div class="row">
    <div class="review-section col-xs-10 col-xs-offset-1">
      <% if @farm.comments.count == 1 %>
      <%= @farm.comments.count %> Review
      <% else %>
      <%= @farm.comments.count %> Reviews
      <% end %>
      <!-- Comment Button trigger modal -->
      <% if current_user && current_user != @farm.user %>
      <button class="btn-review btn btn-sm btn-success" data-toggle="modal" data-target="#myComment">
        Leave a Review
      </button>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="booyah-box col-xs-10 col-xs-offset-1">
      <% @farm.comments.each do |comment| %>
      <div class="col-xs-12">
        <p class="user">
          <%= comment.user.email.split('@')[0] %>
          <p class="review">
            <%= comment.message %>
            <hr>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>

      <br />
      <br />
