
<!--  Carousel/Slider -->
<% if @farm.photos.empty? %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="placeholder carousel-inner">
    <%= image_tag 'placeholder.png', class: 'img-responsive' %>
  </div>
</div>

<% else %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @farm.photos.each_with_index do |photo, index| %>
    <% if index == 0 %>
    <div class="item active">
      <% else %>
      <div class="item">
        <% end %>
        <!-- cloudinary transformation -->
        <%= cl_image_tag(photo.picture.url(:standard)) %>
      </div>
      <% end %>
    </div>

    <!-- Controls for slides -->
    <% if @farm.photos.size > 1 %>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <% end %>
    <% end %>
  </div>

  <br />

  <div class="row">
    <div class="col-sm-10 pull-right">
      <% if current_user && current_user == @farm.user %>

      <!-- Photo Button trigger modal -->
      <div class="btn-edit-details text-right">
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myPhoto">
          <i class="fa fa-camera"></i> Add Photo
        </button>

        <!-- Edit Farm button -->
        <%= link_to 'Farm Settings', edit_farm_path(@farm), class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>



  <!-- Farm Description -->
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <br />
      <h3><%= @farm.name %></h3>
      <p />
      <%= @farm.address %>
      <p />
      <br />
      <%= sanitize(@farm.description.gsub(/\n/,"<br>"), tags:["br"]) %>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <hr>
    </div>
  </div>
  <br />

  <!-- Farm Amenities + Activities -->

  <!-- hash version quicker -->
  <!-- <%
  farm_amenities = {}
  @farm.amenities.each do |amenity|
  farm_amenities[amenity.name] = true
  end

  Amenity.all.each do |amenity|
  if farm_amenities[amenity.name]
  # no strike
  else
  #strike
  end
  end
  %> -->

  <div class="row">
    <div class="col-xs-4 col-xs-offset-1 col-sm-2 col-sm-offset-1">
      <h4>Amenities</h4>
      <br />
      <% Amenity.all.map do |amenity| %>
      <% if @farm.amenities.map(&:name).include?(amenity.name) %>
      <%= t(".amenities.#{amenity.name.gsub(/( )/, '_').try(:underscore)}_html") %>
      <%= amenity.name %>
      <br>
      <% else %>
      <%= t(".amenities.#{amenity.name.gsub(/( )/, '_').try(:underscore)}_html") %>
      <strike><%= amenity.name %></strike>
      <br>
      <% end %>
      <% end %>
    </div>

    <div class="col-xs-4 col-xs-offset-1 col-sm-2 col-sm-offset-1">
      <h4>Activities</h4>
      <br />
      <% Activity.all.map do |activity| %>
      <% if @farm.activities.map(&:name).include?(activity.name) %>
      <%= t(".activities.#{activity.name.gsub(/( )/, '_').try(:underscore)}_html") %>
      <%= activity.name %>
      <br />
      <% else %>
      <%= t(".activities.#{activity.name.gsub(/( )/, '_').try(:underscore)}_html") %>
      <strike><%= activity.name %></strike>
      <br />
      <% end %>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <hr>
    </div>
  </div>

  <!-- Farm Activities next row -->
  <!-- <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <h4>Activities</h4>
</div>
</div>

<br />
<div class="row">
<% @farm.activities.map do |activity| %>
<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-1">
<%= activity.name %>
</div>
</p>
<% end %>
</div>

<br />

<div class="row">
<div class="col-xs-10 col-xs-offset-1">
<hr>
</div>
</div> -->

<!-- Upcoming Events -->
<br />
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h4>Upcoming Events</h4>
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5> Coming soon! </h5>
    <% @farm.events.each do |event| %>
    <%= event.name %>
    <% end %>
  </div>
</div>

<br />
<br />

<!-- Photo Modal -->
<div class="modal fade" id="myPhoto" tabindex="-1" role="dialog" aria-labelledby="myPhotoLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myPhotoLabel">Add Farm Photos</h4>
      </div>

      <div class="modal-body">
        <%= simple_form_for @photo, url: farm_photos_path(@farm) do |f| %>
        <input type="hidden" value="show" name="redirect_action" />
        <%= f.input :picture, label: false %>
        <!-- <%= f.input :caption %> -->
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button> -->
        <%= f.submit "Upload", class: 'btn btn-sm btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Comment Modal -->
<div class="modal fade" id="myComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myCommentLabel">Leave a Review</h4>
      </div>

      <div class="modal-body">
        <%= simple_form_for [@farm, @comment] do |f| %>
        <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        <br />
        <%= f.input :message, label: Comment %>

      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button> -->
        <%= f.submit "Add", class: 'btn btn-sm btn-success' %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<!-- Google Maps Terrain -->
<% if @farm.latitude.present? && @farm.longitude.present? %>
<style>
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>

<script>
function initMap() {
  var myLatLng = {lat: <%= @farm.latitude %>, lng: <%= @farm.longitude %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    scrollwheel: false,
    zoom: 12,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

<div id="map"></div>
<% end %>

<br />
<br />

<!-- No Reviews -->
<% if current_user && current_user == @farm.user %>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="no_reviews_yet">
      <% if @farm.comments.blank? %>
      <h4>Reviews</h4>
      <br />
      <h5>Your farm has no reviews yet.</h5>
    </div>
  </div>
</div>
<% end %>
<% end %>

<% if current_user && current_user != @farm.user %>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="no_reviews_yet">
      <% if @farm.comments.blank? %>
      <h4>Reviews</h4>
      <br />
      <h5>This farm has no reviews yet. Yours could be the first one!</h5>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <!-- Comment Button trigger modal -->
    <button class="btn-review btn btn-sm btn-success" data-toggle="modal" data-target="#myComment">
      Leave a Review
    </button>
    <% end %>
    <% end %>
  </div>
</div>

<!-- Reviews -->
<div class="row">
  <div class="review-section col-xs-10 col-xs-offset-1">
    <% if @farm.comments.present? %>
    <%= pluralize(@farm.comments.count, "Review") %>

    <% if current_user && current_user != @farm.user %>
    <!-- Comment Button trigger modal -->
    <button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#myComment">
      Leave a Review
    </button>
    <% end %>
  </div>
</div>

<br />

<div class="row">
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <% @comments.each do |comment| %>
    <div class="col-xs-12">
      <p class="user">
        <%= comment.user.email.split('@')[0] %>
        <%= comment.humanized_rating %>
      </p>
      <p class="review">
        <%= comment.message %>
        <% if @farm.comments.count > 1 %>
        <hr>
        <% end %>
      </p>
    </div>
    <% end %>

    <div class="l-pagination">
      <%= will_paginate @comments %>
    </div>

  </div>

  <% end %>

</div>
<br />
<br />
