<br />
<br />

<div class="row">
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <br />

    <div class="row">
      <div class="user_info col-sm-8 text-center">
        <h4>User: <%= @user.email.split('@')[0] %></h4>
        <h4>Email: <%= @user.email %></h4>
        <h5>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></h5>
      </div>
      <div class="pretty_pot_container col-sm-2">
        <%= image_tag 'flower-large.png', class: 'pretty_pot' %>
      </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
      <hr>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <% if @user.farms.blank? %>
          <div class="no_farm_yet_profile text-center">
            You don't have a farm yet.
            <br />
            <%= link_to 'List your Farm', new_farm_path, class: 'btn btn-default btn-sm' %>
          </div>
          <br />

        <% else %>

          <br />
          <% @user.farms.each do |farm| %>
          <div class="row">
            <div class="farm_name_profile col-xs-12">
              <%= link_to farm.name, farm_path(farm) %>
              <%= link_to 'Edit Details', edit_farm_path(farm), class: 'btn btn-default btn-sm pull-right' %>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-xs-12">
              <h5><%= farm.address %></h5>
              <br />
              <h5><%= farm.description %></h5>
              <br />
            </div>
          </div>

          <br />
          <br />

          <div class="row">
            <div class="farm_name_profile col-xs-8">
              <h3>Photos</h3>
            </div>
          </div>

          <br />

          <% if farm.photos.blank? %>
            <div class="row">
              <div class="text-center">
                Your farm has no photos.
              </div>
            </div>
            <br />
            <br />
            <% if @user.farms.count > 1 && farm != @user.farms.last %>
            <hr>
            <% end %>
          <% else %>
            <% farm.photos.each do |photo| %>
            <div class="row">
              <div class="col-xs-6">
                <%= image_tag photo.picture, class: 'img-responsive' %>
                <br />
              </div>
            </div>
            <% end %>
            <br />
            <br />
            <% if @user.farms.count > 1 && farm != @user.farms.last %>
            <hr>
            <% end %>
          <% end %>

          <br />
          <br />

        <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<br />
<br />
